@use '../../../styles/styles.scss' as *;
@import '../../../styles/variables';

.checkbox {
	@include width-height(100%, 24px);
	@include flex-grid(flex, null, center, center);
	&__input {
		position: absolute;
		z-index: -1;
		opacity: 0;
	}
	&__label {
		width: 100%;
		@include fontStyle(14px, 600, 17px);
		@include themed() {
			color: t('textMain');
		}
	}
	&__input + &__label {
		@include flex-grid(flex, null, null, center);
		cursor: pointer;
		// user-select: none;
	}
	&__label::before {
		content: '';
		@include width-height(24px);
		@include themed() {
			border: 1px solid t('textMain');
		}
		border-radius: 4px;
		margin-right: 8px;
	}
	&__input:not(:checked) + &__label:hover::before {
		transition: 0.2s;
	}
	&__input:checked + &__label::before {
		font-family: 'iconsFont';
		content: '\e901';
		@include themed() {
			color: t('textMainBack');
			background-color: t('textMain');
		}
		@include flex-grid(flex, null, center, center);
	}
}
