@use '../../../styles/styles.scss' as *;
@import '../../../styles/variables.scss';

// .select {
// 	@include width-height(100%);
[class$='container'] {
	@include width-height(100%);
	// position: relative;
	// display: flex;
	// flex-direction: column;
	[class$='control'] {
		@include themed() {
			background-color: t('bgField');
		}
		width: 100%;
		@include width-height(100%, 48px);
		border-radius: 24px;
		border: none;
		padding: 0 20px;
		box-shadow: none;
		// &::after {
		//   content: url(../../../assets/icons/arrow_down_white.svg);
		// }
		&:hover,
		&:focus,
		&:active,
		[class$='--is-focused'] {
			border: none;
		}
		// [class$='control--menu-is-open'] {
		//   &::after {
		//     rotate: 180deg;
		//   }
		// }
		[class$='ValueContainer'] {
			//works
			padding: 0;
			[class$='singleValue'] {
				//works
				font-size: 14px;
				width: 100%;
				display: flex;
				align-items: center;
				padding: 0;
				margin: 0;
				white-space: nowrap;
				@include themed() {
					color: t('textMain');
				}
			}
			[class$='placeholder'] {//works
				font-size: 14px;
				padding: 0;
				white-space: nowrap;
				@include themed() {
					color: t('textMain');
				}
			}
		}
		[class$='IndicatorsContainer'] {
			[class$='indicatorSeparator'] {
				display: none;
			}
			[class$='indicatorContainer'] {
				display: flex;
				align-items: center;
				&::after {
					font-family: 'iconsFont';
					font-size: 24px;
					content: '\e90e';
					@include themed() {
						color: t('textMain');
					}
				}
				& > svg {
					display: none;
				}
			}
		}
	}
	[class$='menu'] {//works
		width: 100%;
		padding: 16px;
		border-radius: 24px;
		@include themed() {
			background-color: t('bgField');
		}
		[class$='MenuList'] {//works
			width: 100%;
			[class$='-option'] {//works
        @include themed() {
          color: t('textMain');
        }
        background-color: transparent;
        border-radius: 20px;
				width: 100%;
        height: 48px;
        font-size: 14px;
        display: flex;
        align-items: center;
				&:hover,
        &:focus,
				&[aria-selected=true],
        &:active {
          @include themed() {
            background-color: t('textMain');
            color: t('textMainBack');
          }
					background-color: $colorWhite;
          border-radius: 20px;
				}
			}
		}
	}
}
