@use '../../../styles/styles.scss' as *;
@import '../../../styles/variables.scss';

.card {
	display: flex;
	flex-direction: column;
	width: 444px;
	height: 415px;
	height: fit-content;
	border-radius: 30px;
	@include themed() {
		color: t('textMain');
		background: t('bgNoise'), t('bg');
		border: 1px solid t('bgBtnMainBackQ');
	}
	&__img {
		@include width-height(100%, 275px);
		border-radius: 30px;
		& > img {
			display: block;
			@include width-height(100%, 275px);
			border-radius: 30px;
		}
	}
	&__title {
		display: flex;
		@include fontStyle(20px, 600);
		padding: 12px 36px;
		&_checked {
			&::after {
				content: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10.75L9.25 13L13 7.75M19 10C19 11.1819 18.7672 12.3522 18.3149 13.4442C17.8626 14.5361 17.1997 15.5282 16.364 16.364C15.5282 17.1997 14.5361 17.8626 13.4442 18.3149C12.3522 18.7672 11.1819 19 10 19C8.8181 19 7.64778 18.7672 6.55585 18.3149C5.46392 17.8626 4.47177 17.1997 3.63604 16.364C2.80031 15.5282 2.13738 14.5361 1.68508 13.4442C1.23279 12.3522 1 11.1819 1 10C1 7.61305 1.94821 5.32387 3.63604 3.63604C5.32387 1.94821 7.61305 1 10 1C12.3869 1 14.6761 1.94821 16.364 3.63604C18.0518 5.32387 19 7.61305 19 10Z' stroke='%234CB648' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E ");
				display: block;
				width: 24px;
				height: 24px;
				margin-left: 10px;
			}
		}
	}
	&__info {
		display: flex;
		justify-content: space-between;
	}
	&__tagInfo {
		display: flex;
		gap: 16px;
		margin: 2px 36px 20px;
		&>div {
			padding: 5px 10px;
		}
	}
	&__textInfo {
		height: 123px;
	}
}

.info {
	&__awards {
		height: 38px;
		margin: 0 20px 15px;
	}
	&__done,
	&__notDone {
		@include blockCenter;
		@include fontStyle(18px, 500);
		border-radius: 20px;
		width: 148px;
		height: 38px;
		margin-right: 15px;
	}
	&__done {
		background-color: $colorQuaternaryGreen400;
	}
	&__notDone {
		background-color: $colorRed400;
	}
}

.others {
	padding: 10px 36px 16px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	&::before {
		margin-bottom: -5px;
		content: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.9793 0.197815C8.15848 0.197815 0.197266 8.15903 0.197266 17.9798C0.197266 27.8007 8.15848 35.7619 17.9793 35.7619C27.8001 35.7619 35.7613 27.8007 35.7613 17.9798C35.7613 8.15903 27.8001 0.197815 17.9793 0.197815Z' fill='%23F8C341'/%3E%3Cpath d='M17.9789 4.14935C10.3405 4.14935 4.14844 10.3415 4.14844 17.9798C4.14844 25.6182 10.3405 31.8103 17.9789 31.8103C25.6173 31.8103 31.8094 25.6182 31.8094 17.9798C31.8094 10.3415 25.6173 4.14935 17.9789 4.14935Z' fill='%23CE8C00'/%3E%3Cpath d='M29.209 7.3462L31.3903 8.04167L29.6279 9.50375L28.9324 11.685L27.4703 9.92262L25.2891 9.22319L27.0515 7.76111L27.7469 5.5838L29.209 7.3462Z' fill='%23FFED9A'/%3E%3Cpath d='M32.3283 14.3523L33.1028 15.5022L31.7158 15.5338L30.5659 16.3084L30.5343 14.9214L29.7598 13.7714L31.1468 13.7398L32.3006 12.9653L32.3283 14.3523Z' fill='%23FFED9A'/%3E%3Cpath d='M13.6178 13.8335C13.1077 13.8335 12.6935 14.2472 12.6935 14.7578V17.9613L10.4024 14.2701C10.1851 13.9192 9.76186 13.7564 9.36394 13.8687C8.9672 13.9821 8.69336 14.3448 8.69336 14.7574V21.2024C8.69336 21.7129 9.10709 22.1266 9.61763 22.1266C10.1278 22.1266 10.5419 21.7129 10.5419 21.2024V17.9988L12.833 21.69C13.0045 21.9666 13.3044 22.1266 13.6182 22.1266C13.7024 22.1266 13.7877 22.1152 13.8715 22.0911C14.2682 21.9781 14.5421 21.6153 14.5421 21.2024V14.7574C14.5417 14.2472 14.1279 13.8335 13.6178 13.8335Z' fill='%23F8C341'/%3E%3Cpath d='M19.6904 15.6816C20.2009 15.6816 20.6147 15.2679 20.6147 14.7573C20.6147 14.2472 20.2009 13.8331 19.6904 13.8331H17.1274C16.6172 13.8331 16.2031 14.2468 16.2031 14.7573V21.2023C16.2031 21.7129 16.6169 22.1266 17.1274 22.1266C17.6379 22.1266 18.0517 21.7129 18.0517 21.2023V18.9041H19.6908C20.2013 18.9041 20.615 18.4904 20.615 17.9798C20.615 17.4697 20.2013 17.0556 19.6908 17.0556H18.0517V15.6812L19.6904 15.6816Z' fill='%23F8C341'/%3E%3Cpath d='M26.3409 13.8335H22.6782C22.1676 13.8335 21.7539 14.2472 21.7539 14.7578C21.7539 15.2679 22.1676 15.682 22.6782 15.682H23.5855V21.2028C23.5855 21.7133 23.9992 22.127 24.5097 22.127C25.0203 22.127 25.434 21.7133 25.434 21.2028V15.6816H26.3413C26.8518 15.6816 27.2655 15.2679 27.2655 14.7574C27.2652 14.2472 26.8514 13.8335 26.3409 13.8335Z' fill='%23F8C341'/%3E%3C/svg%3E ");
	}
}
