@use '../../../styles/styles.scss' as *;
@import '../../../styles/variables.scss';

.content {
	&__mainScreen {
		height: 1050px;
		z-index: 10;
	}
	&__boards {
		display: flex;
		flex-direction: column;
		gap: 240px;
	}
}

.mainText {
	width: 1023px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 92px auto 0;
	&__subtitle {
		@include fontStyle(40px, 400, 48px);
		@include themed() {
			color: t('textPrimHeader');
		}
		margin-top: 33px;
		z-index: 10;
	}
}
.video {
	position: absolute;
	z-index: 10;
	top: 200px;
	height: 600px;
	transform: scaleX(-1);
	&_go {
		transition: 3s;
	}
}
