@use '../../../../styles/styles.scss' as *;
@import '../../../../styles/variables.scss';

.button {
	@include themed() {
		color: t('textMainBack');
		background-color: t('bgBtnMain');
	}
	display: flex;
	align-items: center;
	padding: 12px 24px;
	border-radius: 24px;
	width: fit-content;
	@include fontStyle(18px, 500, 18px);
	&::before {
		justify-content: flex-start;
		font-size: 14px;
		margin-right: 25px;
	}
	&__error {
		background-color: $colorRed400;
	}
}