@use '../../../styles/styles.scss' as *;
@import '../../../styles/variables.scss';

.card {
	display: flex;
	flex-direction: column;
	min-width: 328px;
	max-width: 444px;
	width: 100%;
	height: 415px;
	height: fit-content;
	border-radius: 30px;
	@include themed() {
		color: t('textMain');
		background: t('bgNoise'), t('bg');
		border: 1px solid t('bgBtnMainBackQ');
	}
	&__img {
		@include width-height(100%, 275px);
		border-radius: 30px;
		& > img {
			display: block;
			@include width-height(100%, 275px);
			border-radius: 30px;
		}
	}
	&__title {
		height: 85px;
		@include fontStyle(20px, 600);
		padding-top: 23px;
		text-align: center;
	}
	&__info {
		display: flex;
		justify-content: space-between;
	}
}

.info {
	&__awards {
		height: 38px;
		margin: 0 20px 15px;
	}
	&__done,
	&__notDone {
		@include blockCenter;
		@include fontStyle(18px, 500);
		border-radius: 20px;
		width: 148px;
		height: 38px;
		margin-right: 15px;
	}
	&__done {
		background-color: $colorQuaternaryGreen400;
	}
	&__notDone {
		background-color: $colorRed400;
	}
}

.awards {
	display: flex;
	gap: 9px;
	&__xp {
		height: 100%;
		padding: 0 10px;
	}
	&__nft {
		background: url(../../../assets/icons/nft.svg);
		@include width-height(36px);
	}
}

.block {
	display: flex;
	justify-content: center;
	gap: 12px;
	padding: 10px;
	&__box {
		height: 8px;
		width: 80px;
		background-color: $colorWhite;
	border-radius: 20px;
	}
}