@use '../../../styles/styles.scss' as *;
@import '../../../styles/variables.scss';

.window {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	z-index: 100;
	@include themed() {
		background: t('bgNoise'), t('bg');
	}
}