@use '../../../styles/styles.scss' as *;
@import '../../../styles/variables.scss';

.window {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	z-index: 100;
	overflow-y: scroll;
	padding: 20px;
	&::-webkit-scrollbar {
		width: 0;
	}
	@include themed() {
		background: t('bgNoise'), t('bg');
	}
	&__close {
		position: absolute;
		top: 32px;
		right: 32px;
		padding: 7px;
		background: none;
		border: none;
		&::before {
			@include themed() {
				color: t('textMain');
			}
			content: '\00D7';
			color: #A7A7A7;
			font-size: 50px;
			font-weight: 500;
			@include flex-grid(flex, null, center, center);
		}
	}
}