@use '../../../styles/styles.scss' as *;
@import '../../../styles/variables.scss';

.level {
	display: flex;
	align-items: center;
	gap: 4px;
	&__point {
		width: 40px;
		height: 12px;
		border-radius: 24px;
		background-color: $colorGrey200;
		&_damage {
			@include themed() {
				background: t('diffPurpleGradient');
			}
		}
		&_rarity {
			@include themed() {
				background: t('diffGreenGradient');
			}
		}
	}
}
