@font-face {
  font-family: 'iconsFont';
  src:
    url('../assets/fonts/iconsFont.woff?g1ns19') format('woff'),
    url('../assets/fonts/iconsFont.ttf?g1ns19') format('truetype'),
    url('../assets/fonts/iconsFont.svg?g1ns19#iconsFont') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon_"]::before, [class*=" icon_"]::before,
[class^="icon_"]::after, [class*=" icon_"]::after {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconsFont' !important;
  // speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon_add:before {
  content: "\e900";
}
.icon_done:before {
  content: "\e901";
}
.icon_arrow_towards:before {
  content: "\e902";
}
.icon_search:before {
  content: "\e903";
  color: #fff;
}
.icon_edit:before {
  content: "\e904";
  color: #fff;
}
.icon_trash:before {
  content: "\e905";
  color: #fff;
}
.icon_settings:before {
  content: "\e906";
  color: #fff;
}
.icon_exit:before {
  content: "\e907";
  color: #fff;
}
.icon_clock:before {
  content: "\e908";
  color: #fff;
}
.icon_calendar:before {
  content: "\e909";
  color: #fbfcfc;
}
.icon_box:before {
  content: "\e90a";
  color: #fff;
}
.icon_net:before {
  content: "\e90b";
  color: #fff;
}
.icon_network:before {
  content: "\e90c";
  color: #fff;
}
.icon_money:before {
  content: "\e90d";
  color: #fff;
}
.icon_arrow_down:before {
  content: "\e90e";
  color: #fff;
}
.icon_arrow_down_after:after {
  content: "\e90e";
  color: #fff;
}
.icon_plus:before {
  content: "\e90f";
  color: #fff;
}
.icon_minus:before {
  content: "\e910";
  color: #fff;
}
.icon_eye_open:before {
  content: "\e911";
  color: #fff;
}
.icon_eye_close:before {
  content: "\e912";
  color: #fff;
}
.icon_notification:before {
  content: "\e913";
  color: #fff;
}
.icon_arrow_nav:before {
  content: "\e914";
  color: #9256f5;
}
.icon_search_second:before {
  content: "\e915";
  color: #cdd5d5;
}
.icon_params:before {
  content: "\e916";
  color: #cdd5d5;
}
.icon_arrow_nft:before {
  content: "\e917";
  color: #9256f5;
}
.icon_star_nft:before {
  content: "\e918";
}
.icon_star_quest:before {
  content: "\e919";
  color: #9256f5;
}
.icon_star_one:before {
  content: "\e91a";
}
.icon_stars_trio:before {
  content: "\e91b";
  color: #b0fe76;
}
