@use '../../../styles/styles.scss' as *;
@import '../../../styles/variables.scss';

.wrapper {
	position: relative;
	display: flex;
	width: 100%;
	@include themed() {
		background: t('bgNoise'), t('bg');
	}
	&__container {
		width: 100%;
	}
}
