@use '../../../styles/styles.scss' as *;
@import '../../../styles/variables.scss';

.content {
	display: flex;
	flex-direction: column;
	gap: 70px;
	&__mainBlock {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}
	&__secondaryBlock {
		display: grid;
		grid-template-columns: 2.2fr 1fr;
		gap: 20px;
	}
}
.quest {
	position: relative;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column-reverse;
	align-items: flex-end;
	justify-content: space-between;
	height: 380px;
	padding: 30px 45px;
	border-radius: 0 0 56px 56px;
	&__xp {
		padding: 7px 24px;
		z-index: 2;
	}
	&__subs {
		z-index: 2;
	}
	&__company {
		align-self: flex-start;
		position: absolute;
	}
	&__op {
		@include themed() {
			background: linear-gradient(t('imgGradient'), t('imgGradient'));
		}
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 0 0 56px 56px;
		z-index: 2;
	}
}

.company {
	display: flex;
	align-items: center;
	gap: 24px;
	z-index: 5;
	&__avatar {
		& > img {
			@include width-height(48px);
			border-radius: 50%;
		}
	}
	&__name {
		@include fontStyle(24px, 900);

		@include themed() {
			color: t('textMain');
		}
		color: $colorWhite;
	}
}

.info {
	display: flex;
	justify-content: space-between;
	&__questValues {
		display: flex;
		gap: 42px;
	}
}

.questPart {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 44px;
}

.infoPart {
	display: flex;
	flex-direction: column;
	gap: 12px;
	&__user {
		padding: 19px 63px;
	}
}

.description {
	display: flex;
	flex-direction: column;
	padding: 23px 58px;
	&__title {
		@include fontStyle(64px, 700, 77px);
		margin-bottom: 24px;
		max-width: 570px;
	}
	&__subtitle {
		@include fontStyle(24px, 700, 36px);
		margin-bottom: 4px;
	}
	&__text {
		@include fontStyle(18px, 400, 36px);
	}
	&__date {
		display: flex;
		position: absolute;
		align-self: flex-end;
		padding: 15px;
	}
}

.date {
	display: flex;
	align-items: center;
	@include fontStyle(15px, 700, 18px);
	&_start {
	}
	&_end {
		@include themed() {
			color: t('bgBtnMain');
		}
		&::before {
			font-size: 7.75px;
			margin: 0 10px;
			@include themed() {
				color: t('textMain');
			}
		}
	}
}

.detail {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 52px;
	padding: 36px;
	background-color: rgba(112, 102, 102, 0.897);
}

.mascot {
	margin: -180px 0 0 -350px;
	height: 600px;
	overflow: hidden;
}
