@use '../../../styles/styles.scss' as *;
@import '../../../styles/variables.scss';

.search {
	@include flex-grid(flex, null, null, center);
	@include width-height(460px, 38px);
	padding: 0 20px;
	&_main {
		flex-direction: row-reverse;
		@include width-height(100%);
	}
	&__label {
		margin: 0 14px 0 0;
		@include fontStyle(14px, 400, 18px);
		@include flex-grid(flex, null, null, center);
		&::before {
			padding-top: 1px;
		}
		&_main {
			margin: 0 24px 0 0;
			@include fontStyle(24px, 500, 28px);
			&::before {
				padding-top: 1px;
				font-size: 24px;
			}
		}
	}
	&__input {
		@include themed() {
			background-color: t('textMainBack');
			color: t('textMain');
		}
		font-size: 14px;
		outline: none;
		border: none;
		width: 100%;
		&::placeholder {
			@include themed() {
				color: t('textMain');
			}
		}
		&_main {
			font-size: 24px;
		}
	}
}
