@use '../../styles/styles.scss' as *;
@import '../../styles/variables.scss';

.content {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 50px 12% 50px 7%;
	@include themed() {
		background-color: t('bg');
	}
	&__main {
		width: 100%;
		display: grid;
		grid-template-columns: 6fr 1fr 2.5fr;
		position: relative;
	}
	&__quests {
		display: flex;
		width: 100%;
	}
	&__mascot {
		position: absolute;
		left: 60%;
		bottom: 0;
		margin-bottom: -50px;
		height: 600px;
		overflow: hidden;
	}
}
