@use '../../../styles/styles.scss' as *;
@import '../../../styles/variables';

.field{
	@include width-height(100%, 48px);
	position: relative;
	padding: 10px 20px;
	border-radius: 24px;
	@include themed() {
		background-color: t('bgField');
	}
	&_error {

	}
	&__input {
		font-size: 14px;
		line-height: 17px;
		height: 100%;
		background-color: transparent;
		display: flex;
		align-items: center;
		@include themed() {
			color: t('textMain');
		}

		width: 100%;
		cursor: text;
		&:disabled{
			color: $colorGrey400;
		}
		&::placeholder{
			@include themed() {
				color: t('textMain');
			}
		}
	}
	&__password {
		// background-color: $fillWhite;
		// padding: 12px;
		&::before {
			// color: $iconUnactive;
		}
		&_show {
			&::before {
				// color: $iconDark;
			}
		}
	}
}