@use '../../../styles/styles.scss' as *;
@import '../../../styles/variables.scss';

.sidebar {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	gap: 52px;
}
.menu {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	gap: 52px;
	@include themed() {
		color: t('textMain');
	}
	&__links {
		display: flex;
		flex-direction: column;
		gap: 12px;
		padding: 36px 0;
	}
	&__item,
	&__subitem {
		display: flex;
		align-items: center;
		height: 34px;
		border-radius: 20px;
		padding: 0 12px;
	}
	&__item {
		@include fontStyle(18px, 500);
		width: 100%;
		@include themed() {
			color: t('textMain');
		}
	}
	&__subitem {
		@include fontStyle(14px, 500);
		margin-left: 28px;
		@include themed() {
			color: t('textMain');
		}
	}
	&__item_active {
		@include themed() {
			color: t('textMainBack');
			background-color: t('bgBtnMain');
		}
	}
	&__subitem_active {
		@include themed() {
			background-color: t('bgBtnScnd');
			color: $colorBlack;
		}
	}
	&__clue {
		@include themed() {
			@include fontStyle(18px, 500);
			padding: 9px 12px;
		}
		width: 100%;
		margin: 20% 0 20%;
	}
}
